.navbar {
  background-color: white;
  overflow: hidden;
}

body{
  font-family: 'Roboto', sans-serif;
}

.navbar a {
  float: left;
  color: rgb(69, 75, 72);
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;

}

.navbar-right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(97, 88, 88);
  color: white;
}

* {
  border-radius: 10px;
 
}


.row{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  flex-wrap:wrap;
  
  
}

.text-size{
  font-size:xx-large;
  color:darkgreen;
}

.button{
  display:inline-block;
  background-color:darkgreen;
  color:aliceblue;
  text-decoration: none;
  padding: 15px 30px;
}

.button:hover{
  background-color:rgb(160, 236, 160);
  color:darkgreen;
}

.header{
  background:radial-gradient(#90ee90,	#ffd700);
  padding:10px 10px
}

.bar{
  background:radial-gradient(#c1e4c1,	#eceee8);
   padding: 20px;
   margin: 20px 0px
}

.bar h1{
  text-align:center; 
  color:#333;
 
}

.col-1{
  flex-direction:column;
}

.col-1 img{
  box-shadow: 5px 5px 0 rgba(0,0,0,0.2)
}

.col-1 img:hover{
 
  transform:scale(0.9);
}

.rating i{
  justify-content:center;
  align-items:center;
}

.first-offer{
  background-color: black;
  flex-wrap: wrap;
  padding-left: 455px;
  padding-right: 455px;
  
}

.first-offer h1{
  text-align:left; 
  color:white;

}

.rating .fa{
  color:gold;
}


.col-2{
  flex-basis:30%;
  margin-bottom:30px;
  text-align:center;
  padding:40px 20px;
  background-color: #c2d6ce;
  margin:10px 0px;
  box-shadow:0 0 20px rgba(0,0,0,0.5);
  cursor:pointer;
}

.testimonial  .row :hover{
  background-color: white;
  transform:scale(0.9)
}

.testimonial h1{
  text-align: center;
  color:#1e680c
}

.col-2 img{
  width: 50px;
  border-radius: 50%;
}

.brands{
  padding:20px 20px;
  margin: 20px ;
  justify-content:space-around;
  align-items: center;
}

.brands h3{
  text-align: center;
  
}

.col-3{
 flex-basis:30% ;
 align-items: baseline;
}

.footer{
  background-color: #050311;
  color:white;
  padding:20px 20px;
  border-radius: 0%;
 
}

ul{
  list-style-type:none;
}

.copyright{
  text-align: center;
}















